// @import "@picocss/pico/scss/themes/default";
// @import "@picocss/pico/scss/content/button";

// $primary-500: #e91e63;
// $primary-600: #d81b60;
// $primary-700: #c2185b;



@import "@picocss/pico/scss/pico";

// [data-theme="dark"] {
//   --primary: #43a047;
//   --primary-hover: #388e3c;
//   --primary-focus: rgba(67, 160, 71, 0.125);
//   --primary-inverse: #FFF;
// }


/**
 * Custom theme
 */
 @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@800&display=swap");


.form-error {
    color: #c62828;
    font-size: 0.8rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
 }
